body {
	margin: 0;
}

html {
	font-size: 16px;
	font-family: Lato, Helvetica;
}

h2 {
	font-size: 2.5rem;
	font-weight: 700;
}

h3 {
	font-size: 1.5rem;
}

.hiddenDesktop {
	display: none;
}

/*
Header Section
*/

header {
	display: flex;
	justify-content: space-between;
	height: 4rem;
}


#logo {
	margin: 1rem 1.5rem 1rem 0;
}

#logo {
	display: flex;
	align-items: center;
}

#logo h1 {
	font-weight: normal;
	text-transform: uppercase;
	font-size: 1.5rem;
}

#logo img {
	height: 2.5rem;
}

.bold {
	font-weight: bold;
}

header nav ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 1.5rem;
	height: 100%;
}

header nav ul li {
	margin-left: 1rem;
	list-style: none;
}

header nav ul li a {
	text-decoration: none;
	color: black;
}

/*
Section Scaffolding
*/

section {
	display: flex;
	justify-content: center;
}

.leftPanel {
	padding: 2rem 1.5rem;
	width: 60%;
}

.leftPanel img {
	width: 90%;
}

.rightPanel {
	padding: 1rem 1.5rem;	
	width: 40%;
	border-left: 2px solid #F1F3F3;
}

/*
Banner Section
*/

#banner {
	background-color: #F1F3F3;
}

#banner .rightPanel {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#bannerTextWrapper {
	width: 80%;
}

#banner .rightPanel button {
	background-color: #333;
	border: none;
	margin-right: 40px;
	padding-top: .5rem;
	padding-bottom: .5rem;
	color: white;
	font-size: 1.5rem;
	width: 100%;
} 

/*
Tile Styling
*/

.informationTile,.thesisTile {
	padding: 1rem;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.informationTile img,.thesisTile img {
	width: 35%;
}

.tileText {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 55%;
}

.tileText h3 {
	margin-bottom: .5rem;
	padding: 0;
}

.tileText p {
	font-size: 1rem;
	margin-bottom: .5rem;
	margin-top: 0;
}

.tileText a {
	text-decoration: none;
}

.informationTile:hover, .thesisTile:hover {
	background-color: #F1F3F3;
}

/*
Courses Section
*/

#courses {
	flex-direction: column;
	align-items: center;
	padding: 2rem 4.5rem;
	background-color: #F1F3F3;
}

#courses h2 {
	margin-bottom: 2rem;
}

#coursesPanel {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.coursesTile {
	width: 30%;
	background-color: white;
	margin-bottom: 2rem;
}

.coursesTile img {
	width: 100%;
}

.coursesTile h4,.coursesTile p,.coursesTile h3 {
	margin: 1rem 1rem;
}

.coursesTile h4 {
	font-weight: normal;
	text-transform: uppercase;
	color: #666;
	margin-left: 1rem;
}

.coursesTile p {
	color: #666;
	margin-left: 1rem
}

.coursesTile h3 {
	margin-left: 1rem;
	font-size: 1.25rem;
}

/*Thesis Section*/

#thesisExhibit {
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#thesisBody .leftPanel video {
	width: 100%
}

#thesisBody {
	display: flex;
	justify-content: space-between;
}

#thesisBody .rightPanel {
	border: none;
}

/*
Footer
*/

footer {
	border-top: 2px solid #F1F3F3;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: .75rem;
	color: #666;
	padding: 0 1.5rem;
}

footer div a {
	text-decoration: none;
	color: #666;
}

/*
Mobile Screens
*/

@media only screen and (max-width: 480px) {

	/*
	Page-wide styles
	*/

	html {
		color: #555;
	}

	h2 {
		font-size: 2rem;
	}

	.hiddenPhone {
		display: none;
	}

	.hiddenDesktop {
		display: block;
	}

	.leftPanel {
		width: 100%;
		padding: 0;
	}

	.rightPanel {
		width: 100%;
		padding: 2rem 1rem;
	}

	section {
		flex-direction: column;
	}
	/*
	Header
	*/

	header {
		display: inline;
	}

	#logo {
		display: none;
	}

	#phone-nav ul {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	#phone-logo {
		height: 2.5rem;
	}

	/*
	Banner section
	*/

	.leftPanel img {
		width: 100%;
	}

	#banner {
		background-color: #DDD;
	}

	#banner .rightPanel {
		padding: 2rem 1rem;
	}

	#bannerTextWrapper h2 {
		margin-top: 0;
		margin-bottom: 2rem;
	}

	#bannerTextWrapper h2 {
		margin-bottom: 1.5rem;
	}

	#banner .rightPanel button {
		background-color: #888;
	}

	/*
	Information Section
	*/

	#information {
		background-color: #FFF;
	}

	.informationTile {
		flex-direction: column;
	}

	.informationTile img {
		width: 100%;
	}

	#information .rightPanel {
		padding: 0;
		border: 0;
	}

	.tileText {
		width: 100%;
		padding: 1rem 4rem;
	}

	/*
	Courses Section
	*/

	#courses {
		background-color: #FFF;
		padding: 2rem .5rem;
		border: 1px solid #F1F1F1;
	}

	#coursesPanel {
		flex-direction: column;
		width: 100%;
	}
	.coursesTile {
		width: 95%;
		background-color: #DDD;
		padding-left: 1rem;
		padding-top: 1rem;
		padding-bottom: 1rem;
		margin-bottom: .5rem; 
	}

	.coursesTile h3 {
		margin-left: 0;
		margin-right: 0;
		width: 90%;
	}

	/*
	Thesis Section
	*/

	#thesisExhibit {
		margin-bottom: 2rem;
	}

	/*
	Footer
	*/

	footer {
		padding: 1rem .5rem;
		font-size: 1rem;
	}

}