html {
	font-size: 16px;
	font-family: Lato, Helvetica;
}

h2 {
	font-size: 2.5rem;
	font-weight: 700;
}

header {
	display: flex;
	justify-content: space-between;
	height: 4rem;
}


#logo {
	margin: 1rem 1.5rem 1rem 0;
}

#logo {
	display: flex;
	align-items: center;
}

#logo h1 {
	font-weight: normal;
	text-transform: uppercase;
	font-size: 1.5rem;
}

#logo img {
	height: 2.5rem;
}

.bold {
	font-weight: bold;
}

header nav ul {
	display: flex;
	justify-content: space-between;
	margin-right: 24px;
}

header nav ul li {
	margin-left: 16px;
	list-style: none;
}

header nav ul li a {
	text-decoration: none;
	color: black;
}


section {
	display: flex;
	justify-content: center;
}

.leftPanel {
	padding: 2rem 1.5rem;
	width: 60%;
}

.leftPanel img {
	width: 90%;
}

/*#information img {
	width: 60%;
}*/

.rightPanel {
	padding: 1rem 1.5rem;	
	width: 40%;
	border-left: 2px solid #F1F3F3;
}

#banner {
	background-color: #F1F3F3;
}

#banner .rightPanel {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#bannerTextWrapper {
	width: 80%;
}

#banner .rightPanel h3 {
	font-size: 1.5rem;
 
}

#banner .rightPanel button {
	background-color: #333;
	border: none;
	margin-right: 40px;
	padding-top: .5rem;
	padding-bottom: .5rem;
	color: white;
	font-size: 1.5rem;
	width: 100%;
} 

.informationTile,.thesisTile {
	padding: 16px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.informationTile img,.thesisTile img {
	width: 35%;
}

.tileText {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 55%;
}

.tileText h3 {
	font-size: 1.5rem;
	margin-bottom: .5rem;
	padding: 0;
}

.tileText p {
	font-size: 1rem;
	margin-bottom: .5rem;
	margin-top: 0;
}

.tileText a {
	text-decoration: none;
}

.informationTile:hover, .thesisTile:hover {
	background-color: #F1F3F3;
}

#courses {
	flex-direction: column;
	align-items: center;
	padding: 2rem 4.5rem;
	background-color: #F1F3F3;
}

#courses h2 {
	margin-bottom: 2rem;
}

#coursesPanel {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.coursesTile {
	width: 30%;
	background-color: white;
	margin-bottom: 2rem;
}

.coursesTile img {
	width: 100%;
}

.coursesTile h4,.coursesTile p,.coursesTile h3 {
	margin: 1rem 1rem;
}

.coursesTile h4 {
	font-weight: normal;
	text-transform: uppercase;
	color: #666;
	margin-left: 1rem;
}

.coursesTile p {
	color: #666;
	margin-left: 1rem
}

.coursesTile h3 {
	margin-left: 16px;
	font-size: 1.25rem;
}

/*Thesis Section*/

#thesisExhibit {
	flex-direction: column;
	align-items: center;
	justify-content: center;
}


.leftPanel video {
	width: 100%
}

#thesisBody {
	display: flex;
	justify-content: space-between;
}

footer {
	border-top: 2px solid #F1F3F3;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: .75rem;
	color: #666;
}

footer div a {
	text-decoration: none;
	color: #666;
}